@keyframes slide-ticket {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(500px);
    opacity: 0;
  }
}

/* Block */
.ticket {
  padding: 0.56rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: var(--color-text);
  border-radius: 0.25rem;
  display: flex;
  align-items: flex-start;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .event-row-time {
    color: red;
  }
}

/* Modifiers */
.ticket--error {
  background-color: #ffe0e2;
  border-inline-start: 0.375rem solid var(--color-decrement);
}

.ticket--success {
  border-inline-start: 0.375rem solid #01db9c;
  animation: slide-ticket 1s normal forwards;
  animation-delay: 1.5s;
}

/* Elements */
.ticket__remove {
  position: absolute;
  top: 0.2rem;
  inset-inline-end: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket__success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: var(--color-background-7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket__success-icon {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}

.ticket__action {
  margin-inline-end: 0.5rem;
  display: block;
}

.ticket__body {
  width: 100%;
}

.ticket__simple {
  width: 1.44rem;
  height: 1.44rem;
}

.ticket__info {
  width: 100%;
  display: block;
}

.ticket__event {
  display: flex;
  align-items: flex-start;
}

.ticket__title {
  margin-inline-end: 0.95rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-active-contrast);
}

.ticket__live {
  margin-inline-end: 0.5rem;
  padding: 0.2rem 0.25rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  font-size: 0.69rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-active-contrast);
  background-color: var(--color-active);
  border-radius: 3.125rem;
}

.ticket__checkbox {
  margin-top: 0;
  margin-inline-end: 0;
  margin-bottom: 0.5rem;
  margin-inline-start: 0.25rem;
  width: 0.94rem;
  height: 0.94rem;
}

.ticket__type {
  margin: 0.75rem 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-active-contrast);
}

.ticket__coefficient {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket__coefficient span {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-active-contrast);
}

.ticket__bet {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket__bet-sum {
  width: 40%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket__bet-label {
  padding: 0 0.625rem;
  width: 100%;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-active-contrast);
  border-radius: 3.125rem;
}

.ticket__bet-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-active-contrast);
}

.ticket__bet-win {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-active-contrast);
}

.ticket__message {
  /* margin-top: 1rem; */
  margin-bottom: -16px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ticket__message-icon {
  margin-inline-end: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ticket__message-icon svg {
  width: 100%;
  height: 100%;
  fill: var(--color-decrement);
}

.ticket__message-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-decrement);
}
