.accumulator-bonus {
  display: flex;
  position: relative;
  margin-bottom: 0.5rem;
  padding: 1.12rem 0.375rem 0.5rem;
  border: 1px solid var(--color-active);
  border-radius: 0.5rem;
  color: var(--color-text);
  flex-direction: column;
}

.accumulator-bonus__info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 0.5rem;
  border-radius: 0 7px;
  background: var(--color-active);
  font-size: 0.5rem;
  font-weight: 700;
  color: var(--color-active-contrast);
  text-transform: uppercase;
}

.accumulator-bonus__title {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.accumulator-bonus__count {
  display: flex;
  position: relative;
  padding-top: 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.accumulator-bonus__rate {
  position: absolute;
  top: -1.3rem;
  left: 50%;
  font-size: 10px;
  font-weight: 700;
  transform: translateX(-50%);
}

.accumulator-bonus__arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translateX(-50%);

  svg {
    max-width: 100%;
    max-height: 100%;
    fill: var(--color-text);
  }
}

.accumulator-bonus__rows {
  position: relative;
  left: 0;
  width: 100%;
  height: 0.75rem;
  border-radius: 2px;
  background: var(--color-background-3);
  margin-inline: 3px;

  &:first-child {
    border-radius: 6px 0 0 6px;
    margin-inline-start: 0;
  }

  &:last-child {
    border-radius: 0 6px 6px 0;
    margin-inline-end: 0;
  }

  &--active {
    background: var(--color-active);

    .accumulator-bonus__rate {
      color: var(--color-active);
    }

    .accumulator-bonus__arrow-icon {
      svg {
        fill: var(--color-active);
      }
    }
  }
}

.accumulator-bonus__max-boost-amount {
  font-size: 0.875rem;
  color: var(--color-active);
}
