.betslip-event-row-details {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.375rem;
  padding-inline-end: 0.25rem;
  white-space: nowrap;
  color: red;

  .event-row-league-name {
    font-size: 0.99rem;
    font-weight: 400;
    color: var(--color-inactive);
  }

}