:root {
  --color-background: rgb(229, 229, 229);
  --color-background-dark: rgb(23, 26, 33);
  --color-background-3: rgba(23, 26, 33, 0.3);
  --color-active-contrast: rgb(33, 39, 51);
  --color-active: rgb(255, 177, 36);
  --color-text: rgb(255, 255, 255);
  --color-placeholder: rgb(117, 117, 121);
  --color-sport-icon: rgb(255, 255, 255);
  --color-inactive: rgb(119, 135, 167);
  --color-second: rgb(40, 47, 62);
  --color-third: rgb(55, 64, 82);
  --color-betslip-bg: rgb(49, 57, 74);
  --color-increment: rgb(0, 152, 71);
  --color-decrement: rgb(224, 0, 15);
  --color-decrement2: rgb(241, 38, 38);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-black--05: rgba(0, 0, 0, 0.5);
}